@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
	height: 100%;
}
header{
	height: 15%;
	background-color: #FF9533;
}
main{
	height: 85%;
}
.wall{
	height: 85%;
	background-color: #FFFBEE;
}
.floor{
	height: 15%;
	background-color: #A05F2F;
}
.Pad{
	position: relative;
}

.pad1{
	position: absolute;
	top: 118px;
	left: 42px;
}
.pad2{
	position: absolute;
	top: 80px;
	left: 140px;
}
.pad3{
	position: absolute;
	top: 125px;
	left: 230px;
}
.pad4{
	position: absolute;
	top: 230px;
	left: 255px;
}
.pad5{
	position: absolute;
	top: 200px;
	left: 30px;
}
.pad1:hover{
	transform: scale(1.05, 1.05);
}
.pad2:hover{
	transform: scale(1.05, 1.05);
}
.pad3:hover{
	transform: scale(1.05, 1.05);
}
.pad4:hover{
	transform: scale(1.05, 1.05);
}
.pad5:hover{
	transform: scale(1.05, 1.05);
}
