
html,body{
	height: 100%;
}
header{
	height: 15%;
	background-color: #FF9533;
}

main{
	height: 85%;
}

.wall{
	height: 85%;
	background-color: #FFFBEE;
	overflow: auto;
}

.selimg {
	width: 200px;
	margin:auto;
	margin-top: 30px;
}

.profile{
	margin: 30px 40px;
	font-size: 15px;
	text-align: center;
	background-color: white;
	border-radius: 10px;
	border: solid 3px;
	padding: 5px 15px;
}

.name {
    margin-bottom:30px;
}

.ecology {
    margin-bottom:30px;
}





.floor{
	height: 15%;
	background-color: #A05F2F;
}