
html,body{
	height: 100%;
}
header{
	height: 15%;
	background-color: #FF9533;
}
.page-title{
	align-items: center;
	margin: 0 auto;
	height: 63%;
	font-size: 30px;
	text-align: center;
	background-color: white;
	border-radius: 10px;
	border: solid 3px;
	padding: 5px 40px;
}
main{
	height: 85%;
}
.wall{
	height: 85%;
	background-color: #FFFBEE;
	overflow: auto;
} 

.images{
	margin-top: 30px;
	margin-bottom: 30px;
	display: grid;
	grid-template-columns: 120px 120px;
	grid-template-rows: 120px 120px;
	gap: 30px;
	justify-content: center;
}

.floor{
	height: 15%;
	background-color: #A05F2F;
}

.poland:hover{
	transform: scale(1.05, 1.05);
}

.poland{
	transform: scale(1.05, 1.05);
	text-align : center;
	border: groove 3px #333;
	background-color: white;
}


